h4{
    font-weight: 300;
    margin: 0;
    font-size: 24px;
    font-family: Roboto,sans-serif;
}
main{
    padding: 77px 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    @media (max-width:1180px){
    flex-direction: column;
    }
}
.block{
    padding: 15px;
    width: 360px;
    flex-direction: column;
    &__img{
        width: 360px;
        height: 360px;
        align-items: center;
    }
    &__layout{
        padding: 30px;
    }
    &__text{
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        font-family: 'Open Sans',sans-serif;line-height: 1.8;
    }
    &__link{
        display:inline-block;
        align-self: flex-start;
        margin: 20px 0 0 0 ;
        color: black;
        font-size: 16px;
        font-family: 'Open Sans',sans-serif;
        text-decoration: none;
        line-height: 1.6;
        border-width: 1px;
        border-style: none none solid;
    }
}